// Abstracts
@import "abstracts/mixins";
@import "abstracts/variables";
@import "abstracts/animations";

// Base
@import "base/reset";
@import "base/base";
@import "base/typography";
@import "base/utilities";

// Components
@import "../../components/Card/Card.scss";
@import "../../components/Header/Header.scss";
@import "../../components/Footer/Footer.scss";
@import "../../components/Modal/Modal.scss";


// Layout
@import "layout/grid";

// Pages
@import "pages/home";