@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700;800&display=swap');

// Colors
$background-color: rgb(25, 25, 25);
$main-color-letter: white;
$status-alive-color: rgb(23, 191, 23);
$status-dead-color: rgb(37, 37, 37);
$info-card-color: #2F2F2F;
$modal-color: #FFFFFF ;

// Fonts
$main-font: "Roboto", sans-serif;
$secundary-font: 'Dosis', sans-serif;

// Grids
$grid: 1280px;
$max-grid: 1380px;