.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  animation: modal-show 0.5s 1 forwards;
  @include flexbox(center, center);
  backdrop-filter: blur(5px);

  &__content {
    position: relative;
    background-color: white;
    color: black;
    overflow: hidden;

    @include respond(phone) {
      width: 85%;
    }
    @include respond(phone-land) {
      width: 70%;
    }
    @include respond(tab-port) {
      width: 65%;
    }
    @include respond(tab-land) {
      width: 30%;
    }
  }

  &__hide {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    font-size: 25px;
    text-align: center;
    color: black;
    background: #fff;
    width: 25px;
    height: 20px;
    padding: 20px;
    text-decoration: none;
    border-radius: 14px;
    font-weight: bold;
    @include flexbox(center, center);
  }

  &__info {
    background-color: $info-card-color;
    @include flexbox(center, center, column);
    @include respond(tab-port) {
      @include flexbox(center, center);
    }
  }

  &__photo {
    object-fit: cover;
    width: 100%;
    padding: 20px;
    border-radius: 14px;
  }

  &__bibliography {
    width: 80%;
    @include flexbox(center, normal, column);
    font-family: $secundary-font;
    color: white;
    padding: 10px 0 30px;
    @include respond(tab-port) {
      margin-left: 20px;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: 700;
    padding: 10px 0 20px;
  }
  &__status {
    @include flexbox(flex-start, center);

    &-info {
      font-size: 15px;
      margin-left: 10px;
      text-align: center;
    }
    &-race {
      margin-left: 2px;
    }
  }
  &__circle {
    display: block;
    width: 15px;
    height: 15px;
    background-color: $status-dead-color;
    border: 3px solid white;
    border-radius: 50%;

    &--active {
      background-color: $status-alive-color;
    }
  }
}

.dimensions {
  padding: 20px 0 0;
  font-size: 15px;

  &-text {
    font-weight: 600;
    padding-top: 5px;
  }
}
