.grid-cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 300px));
  row-gap: 20px;
  column-gap: 20px;

  @include respond(phone) {
    grid-template-columns: repeat(1, minmax(300px, 300px));
  }
  @include respond(tab-port) {
    grid-template-columns: repeat(2, minmax(300px, 300px));
  }
  @include respond(tab-land) {
    grid-template-columns: repeat(3, minmax(300px, 300px));
  }
  @include respond(small-desktop) {
    grid-template-columns: repeat(4, minmax(300px, 300px));
  }
}
